= render partial: 'new_header'

.in__main
  = flash[:notice]
  = flash[:alert]
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .in__main__top
      .in__main__top--inner
        %p アカウントをお持ちでない方はこちら
        %p.in__main__top--inner__newBtn
          = link_to'新規会員登録', new_user_registration_path
    .in__main__bottom
      .in__main__bottom--inner
        = f.email_field :email, class: "in__main__bottom--inner--mail", autofocus: true, autocomplete: "email", placeholder: 'メールアドレス'
      .in__main__bottom--inner
        = f.password_field :password, class: "in__main__bottom--inner--pass", autocomplete: "current-password", placeholder: 'パスワード'
        .in__main__bottom--inner--in
          = f.submit "ログイン"
        .in__main__bottom--inner--memo
          パスワードをお忘れの方

= render partial: 'new_footer'