.Buypage
  
  .Buypage_main
    .Buypage_main_confirm
      %p 購入内容の確認
    .Buypage_main_detail
      .Buypage_main_detail_info
        .Buypage_main_detail_info_photo
          = image_tag @item.image.url
          -# =image_tag "子猫.png"
        .Buypage_main_detail_info_detail
          .Buypage_main_detail_info_detail_name
            = @item.name
            -# %p 子猫です
          .Buypage_main_detail_info_detail_Amount
            %span.Buypage_main_detail_info_detail_Amount_fee
              送料込み（税込）
            %span.Buypage_main_detail_info_detail_Amount_price
              = "¥#{@item.price.to_s}"
              -# ¥686,892
    .Buypage_main_payamount
      .Buypage_main_payamount_total
        %p 支払い金額
      .Buypage_main_payamount_price
        = "¥#{@item.price.to_s}"
        -# %p ¥686,892
    .Buypage_main_payment
      .Buypage_main_payment_method
        %p 支払い方法
      .Buypage_main_payment_add
        %span 登録してください
    .Buypage_main_delivery
      .Buypage_main_delivery_info
        .Buypage_main_delivery_info_place
          %p 配送先
        .Buypage_main_delivery_info_change 
          %p 変更する >
      .Buypage_main_delivery_address
        .Buypage_main_delivery_address_info1
          %p 〒761-1705
        .Buypage_main_delivery_address_info2
          %p 香川県 高松市 香川町川東下411-1
        .Buypage_main_delivery_address_info3
          %p 小西 昌美
        
    .Buypage_main_buy
      .Buypage_main_buy_btn
        %p 購入する